<div
        class="input-group rounded"
        style="margin-top: -100px; margin-left: 250px; width: 50%"
      >
     
        <input
          type="search"
          class="form-control rounded" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()"
          placeholder="Search for restaurant, city or street"
          aria-label="Search"
          aria-describedby="search-addon" id=""
        />
      
        <!-- <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span> -->
      </div>
